.main-content {
    padding: 20px;
    margin: 20px;
    width: calc(100% - 100px);
    display: block;
    position:absolute;

    background-color: lightgray;
    border-radius: 20px;
    color: black;
}

span.release-year {
    color:rgb(80, 80, 80);
}

.rating-side-bar {
    text-align: right;
    width: 100%;
}