.App {
  text-align: center;
}

body {
  background-color: rgb(54, 54, 54);
  color: white;
  font-family: 'Rubik', sans-serif;
  text-align: center;

}

.app-padding {
  padding: 20px;
}

.button-primary {
  background-color: rgb(80, 80, 80);
  border-radius: 2px;
  border: none;
  color: aliceblue;
  height: 40px;
  width: 90px;
  font-family: 'Rubik', sans-serif;
  box-shadow: 100px, 100px, 5px black;
  cursor: pointer;
}

.button-primary:hover {
  background-color: rgb(100, 100, 100);
}